body {
  // Next three lines toggle background baseline grid.
  // Helpful for vertical rhythm
  // background-image: linear-gradient(to bottom, cyan 0, rgba(255,255,255,0) 1px);
  // background-repeat: repeat-y;
  // background-size: 100% 1rem;

  width: 80%;
  max-width: $max-width;
  margin: 100px auto;

  // @include larger-than(break-xs) {
  //   background: pink;
  // }
  //
  // @include larger-than(break-m) {
  //   background: lightblue;
  // }
}
