body {
  // Comment or uncomment next 3 lines to toggle background baseline grid.
  // Helpful for vertical rhythm
  // background-image: linear-gradient(to bottom, cyan 0, rgba(255,255,255,0) 1px);
  // background-repeat: repeat-y;
  // background-size: 100% 1rem;

  background-color: $background-color;
  color: $text-color;
  overflow-x: hidden;
}

.container {
  // @include set-container;
  @include outer-container;
}
