html {
  @include root-size;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  @include font-size(zeta);
  line-height: 2rem;
  font-family: $body-type;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-type;
  font-weight: $heading-weight;
  color: $heading-color;
  font-feature-settings: 'kern' 1, 'dlig' 1, 'liga' 1, 'lnum' 1;
}

h1, %alpha {
  @include font-size(alpha);
  line-height: 3rem;
  margin-bottom: 1rem;
}

h2, %beta {
  @include font-size(beta);
  line-height: 3rem;
  margin-bottom: 1rem;
}

h3, %gamma {
  @include font-size(gamma);
  line-height: 3rem;
  margin-bottom: 1rem;
}

h4, %delta {
  @include font-size(delta);
  // margin-bottom: 1rem;
}

h5, %epsilon {
  @include font-size(epsilon);
}

h6, %zeta {
  @include font-size(zeta);
}

p {
  margin-bottom: 2rem;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

a {
  @include establish-link($link-color);
}
// Select all the anchors without a button class
// a:not(.button) {
//   color: $link-color;
//   text-decoration: none;
//   transition: $default-transition;
//   position: relative;
//   transition: all 0.15s ease-out;
//   &:before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 2px;
//     bottom: 1px;
//     left: 0;
//     background: $hover-color;
//     visibility: hidden;
//     transform: scaleX(0);
//     transition: all 0.2s ease-in-out 0s;
//   }
//   &:hover, &:active, &:focus {
//     transition: all 0.15s ease-out;
//     color: $hover-color;
//     text-decoration: none;
//     &:before {
//         visibility: visible;
//         transform: scaleX(1);
//     }
//   }
// }

.caption  {
  @include font-size(theta);
  font-family: $caption-type;
  color: $caption-color;
}

// Better spacing for captions
h1 + .caption, .alpha + .caption, h2 + .caption, .beta + .caption, h3 + .caption, .gamma + .caption {
  margin-top: -1rem;
}

// add: nice underlines for text links, maybe
