#hero {
  background-image: url(https://static.pexels.com/photos/132800/pexels-photo-132800.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 22rem;
  color: $white;
  margin-bottom: 5rem;
  padding-top: 7rem;

  h1 {
    color: $white;
    @include font-size(100);
    font-family: $body-type;
    font-style: italic;
  }

  p {
    font-family: $heading-type;
  }
}

#info {

  margin-bottom: 5rem;

  div {
    @include span-columns(12);

    @include larger-than(break-m) {
      @include span-columns(4);
    }
  }

  h2 {
    @include font-size(epsilon);
  }
}
